# Dependências
node_modules/
  
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
  
# Variáveis de ambiente
.env
.env.local
.env.*.local

# Arquivos do sistema
.DS_Store
Thumbs.db

# Build / distribuição
dist/
build/
coverage/

# Cache
.cache/
.tmp/
